<ul>
    {{#each this.item_groups}}
    Week {{this.week}} - {{this.year}}
    {{#each this.items}}
    <li>
        {{#if this.show_feed}}
        [<a href="/feed/{{this.feed_id}}">{{this.feed_name}}</a>]
        {{/if}}
        {{#if this.content_link}}
        <a href="{{this.content_link}}">
            {{this.item_name}}
        </a>
        {{else}}
        {{this.item_name}}
        {{/if}}
    </li>
    {{/each}}
    {{/each}}
</ul>
