<div class="items">
    {{#each this.item_groups}}
    <div class="item_group_heading">
        Week {{this.week}} ({{this.start}} &mdash; {{this.end}})
    </div>
    {{#each this.items}}
    <div class="item">
        {{#if this.show_feed}}
        <div class="item_feed">
            <a href="/feed/{{this.feed_id}}">
                <div class="item_link">
                    {{this.feed_name}}
                </div>
            </a>
        </div>
        {{/if}}

        <div class="item_content">
            {{#if this.content_link}}
            <a href="{{this.content_link}}">
                {{/if}}
                <div class="item_link">
                    {{this.item_name}}
                </div>
                {{#if this.content_link}}
            </a>
            {{/if}}
        </div>

        <div class="item_read">
            <a href="{{this.mark_read_link}}">read</a>
        </div>

    </div>
    {{/each}}
    {{/each}}
</div>
