<div class="items">
    {{#each this.item_groups}}
    <div class="item_group_heading">
        Week {{this.week}} ({{this.start}} &mdash; {{this.end}})
    </div>
    <table class="item_table">
        {{#each this.items}}
        <tr class="item_table_tr">
            {{#if this.show_feed}}
            <td class="item_td_feed">
                <a href="/feed/{{this.feed_id}}">
                    {{this.feed_name}}
                </a>
            </td>
            {{/if}}
            <td class="item_td_item {{#if this.is_read}}link_read{{/if}}">
                {{#if this.content_link}}
                <a href="{{this.content_link}}">
                    {{/if}}
                    {{this.item_name}}
                    {{#if this.content_link}}
                </a>
                {{/if}}
            </td>
            <td class="item_td_read">
                <a class="{{#if this.is_read}}my_hidden{{/if}}"
                    href="/mark_read/{{this.feed_id}}/{{this.item_id}}">read</a>
            </td>
        </tr>
        {{/each}}
    </table>
    {{/each}}
</div>
